.env
.idea

!/.env

#python stuff
venv/
.pylintrc
__pycache__/
cache/


#ide stuff
.vscode

#django stuff
db.sqlite3
media/
/.env
/.gitignore!/certs/
!/certs/jwt-private.pem
!/certs/
!/certs/jws-public.pem
jwt-private.pem
jws-public.pem
